body {
  font-family: 'Nunito Sans', sans-serif;
}

body .navbar {
  padding: 14px;
}

body .navbar .navbar-nav li a {
  color: #606060 !important;
  font-weight: 600;
}

body .popup {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: none;
  z-index: 1500;
}

body .popup .popup-content {
  width: 70vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  right: 0;
}

body .popup .popup-content .close-icon {
  cursor: pointer;
  position: fixed;
  top: 30px;
  right: 30px;
  width: 19px;
}

body .popup .popup-content .menu-bar {
  margin-top: 10% !important;
}

body .popup .popup-content .menu-bar span {
  color: #835EDA;
  font-size: 10px;
}

body .popup .popup-content .menu-bar ul li {
  list-style: none;
}

body .popup .popup-content .menu-bar a {
  color: #1F1F1F;
  cursor: pointer;
  font-size: 8px;
  font-weight: 600;
}

body .popup .popup-content .menu-bar .office-address {
  margin-top: 10px;
}

body .header-title {
  margin-top: 45px;
  color: #1F1F1F;
  font-weight: 600;
  font-size: 25px;
}

body .header-title span {
  color: #835EDA;
}

body .subtitle {
  color: #606060;
  font-size: 12px;
}

body .btn-discover a {
  background-color: #835EDA;
  color: white;
  border-radius: 8px;
  font-size: 15px;
  padding: 10px 15px;
}

body .btn-discover a:hover {
  color: #ddcece;
}

body .space-content {
  margin-top: 10px;
  font-weight: 600;
  color: #1F1F1F;
}

body .space-content .line img {
  width: 30%;
}

body .space-content .subheading {
  font-size: 24px;
}

body .space-content .subheading span {
  color: #835EDA;
}

body .space-content .description {
  font-size: 18px;
}

body .company-value,
body .company-story {
  margin: 50px auto 15px auto;
}

body .card-stories {
  background-color: #f9f9f9 !important;
  border: none;
  border-radius: 15px;
}

body .card-stories .card-title {
  font-weight: 600;
  font-size: 19px;
  color: #1F1F1F !important;
}

body .card-stories .card-sub {
  font-weight: lighter;
  font-size: 15px;
  color: #959595 !important;
}

body #container-bg {
  background-color: #1C1C1C;
  color: #fff;
}

body .nav-pills {
  display: block;
}

body .nav-pills .nav-link {
  color: #606060;
}

body .nav-pills .nav-link:after {
  content: '';
  display: block;
  border-bottom: 2px solid #606060;
  width: 100%;
  margin: auto;
  margin-bottom: -7px;
  padding-bottom: 5px;
}

body .nav-pills .nav-link.active span {
  color: #835EDA;
}

body .nav-pills .nav-link.active:after {
  content: '';
  display: block;
  border-bottom: 2px solid #835EDA;
  width: 100%;
  margin: auto;
  margin-bottom: -7px;
  padding-bottom: 5px;
}

body .nav-pills .nav-link.active,
body .nav-pills .nav-link.active .nav-pills .show > .nav-link {
  background-color: transparent;
}

body .advantages {
  margin: 50px auto 100px auto;
}

body .bx-wrapper {
  background: transparent;
  border: none;
  -webkit-box-shadow: 0 0 0px transparent;
          box-shadow: 0 0 0px transparent;
}

body .bx-wrapper .bx-controls-direction a {
  z-index: 1 !important;
}

body .bx-wrapper .bx-viewport {
  height: 450px !important;
}

body .footer {
  margin-top: 150px;
}

body .footer .contact h5 {
  color: #835EDA;
  margin-top: 20px;
}

body .footer .contact li {
  color: #fff;
  font-weight: 500;
}

body .footer .contact li a {
  color: #606060;
}

body .intro {
  margin-top: 100px;
  margin-bottom: 50px;
}

body .intro span {
  margin-top: 45px;
  color: #835EDA;
  font-size: 19px;
}

body .intro h1 {
  font-weight: bold;
}

body .intro .project-headline {
  gap: 10px;
}

body .intro .project-headline .icon-filter {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body .article-desc span {
  color: #835EDA;
}

body .article-desc p {
  font-weight: 400;
}

body .project-preview span {
  font-weight: bold;
}

body .project-preview .line-1 .p1,
body .project-preview .line-2 .p1 {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .technology-stack {
  display: block;
  text-align: center;
}

body .card-services {
  background-color: #f9f9f9;
  border: none;
  border-radius: 15px;
  min-height: 350px;
  position: relative;
}

body .card-services .btn-view {
  width: 40%;
  gap: 5px;
  position: relative;
  top: 40%;
}

body .card-services .btn-view a {
  background-color: none;
  color: #835EDA;
}

body .card-services .btn-view a:hover {
  text-decoration: none;
}

body .card-services .btn-view .icon-view img {
  width: 70%;
}

body .card-services .card-decoration {
  position: absolute;
  top: -10%;
  left: 0;
}

body .card-services .card-decoration img {
  width: 80%;
}

body .card-services .card-decoration .topleft {
  position: absolute;
  top: 23%;
  left: 30%;
  font-size: 24px;
  color: white;
}

body .btn-more {
  margin-top: 100px;
}

body .btn-more a {
  color: #835EDA;
  background-color: none;
  border: 1px solid #835EDA;
  border-radius: 5px;
  padding: 8px 20px;
}

body .btn-more a:hover {
  color: #835EDA;
}

body .card-team {
  margin-top: 60px;
  background-color: #f9f9f9;
  border: none;
  border-radius: 15px;
  min-height: 350px;
  padding: 5px;
}

body .card-team img {
  width: 90%;
  margin: 10px auto;
}

body .input-form input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  margin-top: 60px;
  padding: 40px 40px 35px 0px;
  font-size: 19px;
}

body .input-form input:focus {
  border-top: none;
  border-left: none;
  border-right: none;
}

body .filter-column {
  border: 1px solid #EBECF2;
  border-radius: 5px;
  padding: 20px;
}

body .filter-column .btn-dropdown {
  border: 1px solid #EBECF2;
}

body .filter-column .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #835EDA;
  border: #835EDA;
}

@media only screen and (max-width: 768px) {
  body .specialities-list {
    display: block !important;
  }
  body .specialities-list .card-services {
    width: 80% !important;
    margin: auto !important;
  }
  body .the-process-card {
    display: block !important;
  }
  body .client-img {
    display: block !important;
    margin: 20px auto;
  }
  body .client-img img {
    margin-top: 10px;
  }
}

@media (min-width: 992px) {
  body .navbar {
    -webkit-box-shadow: 0 0 15px #606060;
            box-shadow: 0 0 15px #606060;
  }
  body .navbar .navbar-brand {
    margin: 0 10%;
  }
  body .navbar .hamburger-menu {
    width: 35px;
    height: 30px;
    position: fixed;
    right: 120px;
    cursor: pointer;
  }
  body .popup {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: none;
    z-index: 1500;
  }
  body .popup .popup-content {
    width: 70vw;
    height: 100vh;
    background-color: white;
    position: fixed;
    right: 0;
    overflow: hidden !important;
  }
  body .popup .popup-content .close-icon {
    cursor: pointer;
    position: fixed;
    top: 30px;
    right: 135px;
    width: 19px;
  }
  body .popup .popup-content .menu-bar {
    margin-top: 90px !important;
  }
  body .popup .popup-content .menu-bar span {
    color: #835EDA;
    font-size: 16px;
  }
  body .popup .popup-content .menu-bar ul li {
    list-style: none;
  }
  body .popup .popup-content .menu-bar a {
    color: #1F1F1F;
    cursor: pointer;
    font-size: 24px;
    font-weight: 600;
  }
  body .popup .popup-content .menu-bar .office-address {
    margin-top: 90px;
  }
  body .header-title {
    margin-top: 150px;
    font-size: 48px;
  }
  body .subtitle {
    font-size: 19px;
  }
  body .space-content {
    margin-top: 200px;
  }
  body .space-content .line img {
    width: 80%;
  }
  body .space-content .subheading {
    font-size: 42px;
  }
  body .company-value,
  body .company-story {
    margin: 50px auto 100px auto;
  }
  body .card-stories {
    width: 83%;
    background-color: #f9f9f9 !important;
    border: none;
    border-radius: 15px;
    margin-top: 100px;
  }
  body .card-stories .card-title {
    font-weight: 600;
    font-size: 34px;
    color: #1F1F1F !important;
  }
  body .card-stories .card-sub {
    font-weight: lighter;
    font-size: 19px;
    color: #959595 !important;
  }
  body .title-specialities {
    margin-top: -100px;
  }
  body .nav-pills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-flex: row;
        -ms-flex: row wrap;
            flex: row wrap;
  }
  body .nav-pills .nav-item {
    margin-bottom: 86px;
  }
  body .nav-pills break {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 0;
    height: 0;
  }
  body .nav-pills .nav-link {
    color: #606060;
  }
  body .nav-pills .nav-link:after {
    content: '';
    display: block;
    border-bottom: 2px solid #606060;
    width: 250px;
    margin: auto;
    margin-bottom: -7px;
    padding-bottom: 5px;
  }
  body .nav-pills .nav-link.active span {
    color: #835EDA;
  }
  body .nav-pills .nav-link.active:after {
    content: '';
    display: block;
    border-bottom: 2px solid #835EDA;
    width: 250px;
    margin: auto;
    margin-bottom: -7px;
    padding-bottom: 5px;
  }
  body .nav-pills .nav-link.active,
  body .nav-pills .nav-link.active .nav-pills .show > .nav-link {
    background-color: transparent;
  }
  body .article-desc span {
    color: #835EDA;
  }
  body .article-desc p {
    font-weight: 400;
  }
  body .advantages .watch {
    margin-top: 250px;
  }
  body .advantages .enjoy {
    margin-top: 350px;
  }
  body .testimonial-space {
    margin-top: 40px;
  }
  body .testimonial-space .description {
    color: #835EDA;
    font-size: 24px;
    font-weight: lighter;
  }
  body .client-img {
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  body .card-testimonial {
    top: 50px;
    left: 225px;
    background-color: #f9f9f9 !important;
    border: none;
    border-radius: 15px;
    position: relative;
  }
  body .card-testimonial .img-quote {
    position: absolute;
    top: -24px;
    left: 5px;
  }
  body .footer {
    margin-top: 150px;
  }
  body .footer .contact {
    margin-top: 100px;
  }
  body .footer .contact h5 {
    color: #835EDA;
  }
  body .footer .contact li {
    color: #fff;
    font-weight: 500;
  }
  body .footer .contact li a {
    color: #606060;
  }
  body .intro-page {
    margin-top: 152px;
  }
  body .intro-page .list-detail {
    font-size: 15px;
  }
  body .intro-page .list-detail span {
    color: #959595 !important;
  }
  body .intro-page span {
    margin-top: 45px;
    color: #835EDA;
    font-size: 19px;
  }
  body .intro-page h1 {
    font-weight: bold;
  }
  body .intro-page .project-headline {
    gap: 10px;
  }
  body .intro-page .project-headline .icon-filter {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  body .img-section {
    margin-top: 70px;
  }
  body .img-section .img-subtitle {
    margin: 120px auto;
    text-align: center;
  }
  body .img-section hr {
    width: 80%;
    background-color: black;
    margin-bottom: 150px;
  }
  body .technology-stack {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 20px 100px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  body .technology-stack p {
    text-align: center;
    margin-top: 10px;
  }
}
/*# sourceMappingURL=main.css.map */