// Variable
$primary-color : #835EDA;
$background-color : #1C1C1C;
$text-color : ('primary' : #1F1F1F,
    'secondary' : #606060,
    'tertiary' : #959595);
$text-size : ('title' : 58px,
    'subtitle' : 34px,
    'main-text' : 24px,
    'lower-text' : 19px,
    'other-text' : 15px);


// Global Version

body {
    font-family: 'Nunito Sans', sans-serif;

    // Navbar
    .navbar {
        padding: 14px;

        .navbar-nav li {

            a {
                color: map-get($text-color, 'secondary') !important;
                font-weight: 600;
            }
        }
    }

    .popup {
        background-color: rgba(0, 0, 0, 0.2);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        display: none;
        z-index: 1500;

        .popup-content {
            width: 70vw;
            height: 100vh;
            background-color: white;
            position: fixed;
            right: 0;

            .close-icon {
                cursor: pointer;
                position: fixed;
                top: 30px;
                right: 30px;
                width: 19px;
            }

            .menu-bar {
                margin-top: 10% !important;

                span {
                    color: $primary-color;
                    font-size: 10px;
                }

                ul li {
                    list-style: none;
                }


                a {
                    color: map-get($text-color, 'primary');
                    cursor: pointer;
                    font-size: 8px;
                    font-weight: 600;
                }


                .office-address {
                    margin-top: 10px;

                }
            }

        }
    }



    .header-title {
        margin-top: 45px;
        color: map-get($text-color, 'primary');
        font-weight: 600;
        font-size: 25px;

        span {
            color: $primary-color;
        }
    }

    .subtitle {
        color: map-get($text-color, 'secondary');
        font-size: 12px;
    }

    .btn-discover a {
        background-color: $primary-color;
        color: white;
        border-radius: 8px;
        font-size: 15px;
        padding: 10px 15px;

        &:hover {
            color: rgb(221, 206, 206);
        }
    }

    // Space

    .space-content {
        margin-top: 10px;
        font-weight: 600;
        color: map-get($text-color, 'primary');

        .line img {
            width: 30%;
        }

        .subheading {
            font-size: 24px;

            span {
                color: $primary-color;
            }
        }

        .description {
            font-size: 18px;
        }
    }

    // Card Story

    .company-value,
    .company-story {
        margin: 50px auto 15px auto;
    }


    .card-stories {
        background-color: #f9f9f9 !important;
        border: none;
        border-radius: 15px;

        .card-title {
            font-weight: 600;
            font-size: map-get($text-size, 'lower-text');
            color: map-get($text-color, 'primary') !important;
        }

        .card-sub {
            font-weight: lighter;
            font-size: map-get($text-size, 'other-text');
            color: map-get($text-color, 'tertiary') !important;
        }

    }

    // Specialities
    #container-bg {
        background-color: $background-color;
        color: #fff;
    }

    .nav-pills {
        display: block;

        .nav-link {
            color: map-get($text-color, 'secondary');

            &:after {
                content: '';
                display: block;
                border-bottom: 2px solid map-get($text-color, 'secondary');
                width: 100%;
                margin: auto;
                margin-bottom: -7px;
                padding-bottom: 5px;

            }

        }

        .nav-link.active {
            span {
                color: $primary-color;
            }

            &:after {
                content: '';
                display: block;
                border-bottom: 2px solid $primary-color;
                width: 100%;
                margin: auto;
                margin-bottom: -7px;
                padding-bottom: 5px;
            }

            &,
            .nav-pills .show>.nav-link {
                background-color: transparent;
            }

        }

    }



    // Advantages
    .advantages {
        margin: 50px auto 100px auto;
    }

    // Slider
    .bx-wrapper {
        background: transparent;
        border: none;
        box-shadow: 0 0 0px transparent;

        & .bx-controls-direction a {
            z-index: 1 !important;
        }

        .bx-viewport {
            height: 450px !important;
        }
    }


    // Footer
    .footer {
        margin-top: 150px;

        .contact {

            h5 {
                color: $primary-color;
                margin-top: 20px;
            }

            li {
                color: #fff;
                font-weight: 500;

                a {
                    color: map-get($text-color, 'secondary')
                }
            }


        }
    }

    // Portofolio Page
    .intro {
        margin-top: 100px;
        margin-bottom: 50px;

        span {
            margin-top: 45px;
            color: $primary-color;
            font-size: map-get($text-size, 'lower-text');
        }

        h1 {
            font-weight: bold;
        }

        .project-headline {
            gap: 10px;

            .icon-filter {
                align-self: center;
            }

        }

    }

    .article-desc {

        span {
            color: $primary-color;
        }

        p {
            font-weight: 400;
        }

    }

    .project-preview {
        span {
            font-weight: bold;
        }

        .line-1 .p1,
        .line-2 .p1 {
            justify-content: space-evenly;
        }
    }

    .technology-stack {
        display: block;
        text-align: center;
    }


    .card-services {
        background-color: #f9f9f9;
        border: none;
        border-radius: 15px;
        min-height: 350px;
        position: relative;


        .btn-view {
            width: 40%;
            gap: 5px;
            position: relative;
            top: 40%;

            a {
                background-color: none;
                color: $primary-color;

                &:hover {
                    text-decoration: none;
                }
            }

            .icon-view {
                img {
                    width: 70%;
                }
            }

        }

        .card-decoration {
            position: absolute;
            top: -10%;
            left: 0;

            img {
                width: 80%;
            }

            & .topleft {
                position: absolute;
                top: 23%;
                left: 30%;
                font-size: map-get($text-size, 'main-text');
                color: white;
            }

        }


    }

    .btn-more {
        margin-top: 100px;
        a {
            color: $primary-color;
            background-color: none;
            border: 1px solid $primary-color;
            border-radius: 5px;
            padding: 8px 20px;

            &:hover {
                color: $primary-color;
            }
        }
    }

    // Team Page
    .card-team {
        margin-top: 60px;
        background-color: #f9f9f9;
        border: none;
        border-radius: 15px;
        min-height: 350px;
        padding: 5px;


        img {
            width: 90%;
            margin: 10px auto;
        }
    }

    // Input Form Contact Us
    .input-form {
        input {
            border-top: none;
            border-left: none;
            border-right: none;
            border-radius: 0;
            margin-top: 60px;
            padding: 40px 40px 35px 0px;
            font-size: map-get($text-size , 'lower-text' );
        }

        input:focus {
            border-top: none;
            border-left: none;
            border-right: none;
        }
    }

    // Filter Column Career 
    .filter-column {
        border: 1px solid #EBECF2;
        border-radius: 5px;
        padding: 20px;

        .btn-dropdown{
            border : 1px solid #EBECF2;
            
        }

        .custom-control-input:checked ~ .custom-control-label::before {
            background-color: $primary-color;
            border : $primary-color;
        }
    }

    // Mobile Version
    @media only screen and (max-width: 768px) {
        .specialities-list {
            display: block !important;

            .card-services {
                width: 80% !important;
                margin: auto !important;

            }


        }

        .the-process-card {
            display: block !important;
        }

        .client-img {
            display: block !important;
            margin: 20px auto;

            img {
                margin-top: 10px;
            }

        }

    }








    // DESKTOP VERSION 
    @media (min-width: 992px) {

        // Navbar
        .navbar {
            box-shadow: 0 0 15px #606060;

            .navbar-brand {
                margin: 0 10%;
            }

            .hamburger-menu {
                width: 35px;
                height: 30px;
                position: fixed;
                right: 120px;
                cursor: pointer;
            }



        }

        .popup {
            background-color: rgba(0, 0, 0, 0.2);
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            display: none;
            z-index: 1500;

            .popup-content {
                width: 70vw;
                height: 100vh;
                background-color: white;
                position: fixed;
                right: 0;
                overflow: hidden !important;

                .close-icon {
                    cursor: pointer;
                    position: fixed;
                    top: 30px;
                    right: 135px;
                    width: 19px;
                }

                .menu-bar {
                    margin-top: 90px !important;

                    span {
                        color: $primary-color;
                        font-size: 16px;
                    }

                    ul li {
                        list-style: none;
                    }


                    a {
                        color: map-get($text-color, 'primary');
                        cursor: pointer;
                        font-size: map-get($text-size, 'main-text');
                        font-weight: 600;
                    }

                    .office-address {
                        margin-top: 90px;
                    }
                }

            }
        }


        // Header

        .header-title {
            margin-top: 150px;
            font-size: 48px;
        }

        .subtitle {
            font-size: 19px;
        }

        // Space Between

        .space-content {
            margin-top: 200px;

            .line img {
                width: 80%;
            }

            .subheading {
                font-size: 42px;
            }
        }

        //   Card Story
        .company-value,
        .company-story {
            margin: 50px auto 100px auto;
        }

        .card-stories {
            width: 83%;
            background-color: #f9f9f9 !important;
            border: none;
            border-radius: 15px;
            margin-top: 100px;

            .card-title {
                font-weight: 600;
                font-size: map-get($text-size, 'subtitle');
                color: map-get($text-color, 'primary') !important;
            }

            .card-sub {
                font-weight: lighter;
                font-size: map-get($text-size, 'lower-text');
                color: map-get($text-color, 'tertiary') !important;
            }
        }

        //  Specialities
        .title-specialities {
            margin-top: -100px;
        }

        .nav-pills {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            flex: row wrap;

            .nav-item {
                margin-bottom: 86px;
            }

            break {
                flex-basis: 100%;
                width: 0;
                height: 0;
            }



            .nav-link {

                color: map-get($text-color, 'secondary');



                &:after {
                    content: '';
                    display: block;
                    border-bottom: 2px solid map-get($text-color, 'secondary');
                    width: 250px;
                    margin: auto;
                    margin-bottom: -7px;
                    padding-bottom: 5px;

                }

            }



            .nav-link.active {
                span {
                    color: $primary-color;
                }

                &:after {
                    content: '';
                    display: block;
                    border-bottom: 2px solid $primary-color;
                    width: 250px;
                    margin: auto;
                    margin-bottom: -7px;
                    padding-bottom: 5px;
                }

                &,
                .nav-pills .show>.nav-link {
                    background-color: transparent;
                }

            }

        }

        .article-desc {

            span {
                color: $primary-color;
            }

            p {
                font-weight: 400;
            }

        }

        // Advantages
        .advantages {
            .watch {
                margin-top: 250px;
            }

            .enjoy {
                margin-top: 350px;
            }
        }

        // Testimonial
        .testimonial-space {
            margin-top: 40px;

            .description {
                color: $primary-color;
                font-size: 24px;
                font-weight: lighter;
            }
        }

        // Client
        .client-img {
            gap: 20px;
            margin-top: 50px;
            margin-bottom: 50px;

        }


        .card-testimonial {
            top: 50px;
            left: 225px;
            background-color: #f9f9f9 !important;
            border: none;
            border-radius: 15px;
            position: relative;

            .img-quote {
                position: absolute;
                top: -24px;
                left: 5px;

            }
        }



        // Footer 
        .footer {
            margin-top: 150px;

            .contact {
                margin-top: 100px;

                h5 {
                    color: $primary-color;
                }

                li {
                    color: #fff;
                    font-weight: 500;

                    a {
                        color: map-get($text-color, 'secondary')
                    }
                }
            }
        }

        // Portofolio
        .intro-page {
            margin-top: 152px;

            .list-detail {
                font-size: map-get($text-size , 'other-text' );
                span {
                    color : map-get($text-color, 'tertiary') !important;
                }
            }

            span {
                margin-top: 45px;
                color: $primary-color;
                font-size: map-get($text-size, 'lower-text');
            }

            h1 {
                font-weight: bold;
            }

            .project-headline {
                gap: 10px;

                .icon-filter {
                    align-self: center;
                }

            }

        }

        .img-section {
            margin-top: 70px;

            .img-subtitle {
                margin: 120px auto;
                text-align: center;
            }

            hr {
                width: 80%;
                background-color: black;
                margin-bottom: 150px;
            }

        }

        .technology-stack {
            display: flex;
            justify-content: space-between;
            gap: 20px 100px;
            flex-flow: row wrap;

            p {
                text-align: center;
                margin-top: 10px;
            }
        }


    }
}